<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #f5fffd!important;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">
    <a  routerLink="/">
      <img  src="assets/images/logoapp.png" style="border: 0; float: left; margin-right: 15px;height: 50px" />
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#/about">about</a>
      </li>
    </ul>
    <div *ngIf="user" class="d-inline-block" >
      <h3>{{user?.name}}</h3>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <div *ngIf="user">
        <div class="d-inline-block" style="    background-size: 100%;    margin-bottom: 1px;margin-left: 5px;
    height: 36px;
    border: 1px;
    margin-right: 10px; ">
          <img [src]="user?.photoUrl" style="max-width: 100%;max-height: 100%;border-radius: 5px">
        </div>
      </div>

      <input class="form-control mr-sm-2" type="search" [(ngModel)]="term" name="serach" placeholder="Search" aria-label="Search" [required]="true">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchTerm(term)"  type="submit">Search</button>
    </form>
  </div>
</nav>




<router-outlet></router-outlet>


